.intro-hero{
    background-image: url('../images/about.png');
    height: 50vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  
}
.intro-hero .overlay{
    height: 50vh;
    width: 100vw;

}
.intro-hero .about-text{
    position: absolute;
    color: white;
    bottom: 0;
    padding: 15px;
    padding-left: 10vw;;
    height: 5vh;
    width: 100%;
    left:0;
    background: rgba(214, 214, 214, 0.31);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.8px);
    -webkit-backdrop-filter: blur(3.8px);
    border: 1px solid rgba(255, 255, 255, 0.19);
}
.overlay #text{
    bottom: 10vh;
}
#company-info {
    margin-bottom: 50px;
    width: 100%;

}
.cores{
    display: flex;
    justify-content: space-around;
}
.core{
    width: 25vw;
    height: 25vw;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 0.5s;
    border-radius: 5px;
}
.core .overlay{
    height: 100%;
    width: 100%;
    padding: 20px;
     border-radius: 5px;
     display: flex;
     flex-direction: column;
     justify-content: end;
     transition: 0.5s;
     background-image: linear-gradient(rgb(247, 247, 247,0.1), rgb(12, 12, 12,0.9));
 }
#company-info .title{
    width: 100%;
    height: 150px;
    padding-left: 5vw;
    margin-top: 10vh;
    font-size: 30px;
    text-align: center;
}


.core h3{
   padding-bottom: 5px;
    font-weight: 600;
    color: rgb(240, 240, 240);
}
.core p{
     color: rgb(240, 240, 240);
     font-weight: 300;
 }
#company-info .mission-vision{
    margin:auto;
    
}

#company-info h2{
    padding: 20px 0;
}
.mission{
    height: 400px;
    background-image: url('../images/audi-steering.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: end;
    
}
.vision{
    height: 400px;
    background-image: url('../images/audi-rear.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    background-position: right;
    justify-content: start;
    
}

.mission-vision p{
    font-size: 20px;
    font-weight: 300;
    color: white;
} 
.mission .mission-text, .vision .vision-text{
    padding: 20px;
    width: 50vw;
    
    justify-content: center;
    display: flex;
    flex-direction: column;
    background: rgba(126, 126, 126, 0.5);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    height: 100%;
    
}

@media (max-width: 850px){
    .core{
        width: 30vw;
        height: 30vw;
        border-radius: 5px;
    }
    .core .overlay{
        padding: 15px;

     }

}
@media (max-width: 650px){
    .intro-hero .about-text{
        height: 11.5vh;
    }
    .cores{
        flex-wrap: wrap;
    }
    .core{
        width: 70%;
        height: 50vw;
        border-radius: 5px;
        margin-bottom: 20px;
    }
    .core .overlay{
        padding: 15px;

     }
    #company-info {
        height: auto;
        display: block;
    }
    .mission .mission-text, .vision .vision-text{
        padding: 20px;
        width: 100vw;
    }
    section h2{
        font-size: 25px;
        padding: 0;
    }
}
@media (max-width: 400px){
    .cores{
        margin: auto;
        width: 100%;
    }
    .core{
        width: 90%;
        margin: auto;
        height: 70vw;
        border-radius: 3px;
        margin-bottom: 20px;
    }
    .mission{
        height: 300px;
    }
    .vision{
        height: 300px;
}
}


