@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap');

/* global styling */
html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}
body{
    width: 100%;
}
h1{
    font-size: 50px;
    text-align: center;
}
section{
    padding-top: 50px;
    width: 100%;
}
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    color:black

}
.fa{
    color: white;
}


/* info nav styling*/
.info-nav{
    width: 100%;
    color: rgb(255, 255, 255);
    background-color: black;
    height: 30px;
    padding-top: 5px;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
    display: flex;
    z-index: 10;
    justify-content: space-between;
}
.info-nav p{
    color: white;
    font-size: 13px;
    padding-left: 10px;
    padding-right: 20px;
    cursor: pointer;
    border-right: 1px solid rgb(85, 85, 85);
}
.info-nav .info-left i{
    margin-left: 10px;
}

.info-left{
    display: flex;
    width: auto;
    font-size: 20px;
    color: white;
  
}
.info-right{
    width: 120px;
    display: flex;
    font-size: 20px;
    justify-content: space-between;
}
.fa{
    cursor: pointer;
}

/* Navigation bar stling */

nav{
    padding: 10px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    border-bottom: 1px solid rgb(231, 231, 231);
    background-color: white;
    width: 100%;
    z-index: 1;
    position: absolute;
    align-items: center;
}
#collapse-nav{
    display: flex;
    position:fixed;
    flex-direction: column;
    align-items: flex-start;
    right: 0;
    top: -500px;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    padding-top: 150px;
    height: auto;
    transition: 0.1s ease;
}
#collapse-nav a{
margin-bottom: 20px;
}
nav .fa-bars{
    font-size: 25px;
    color: black;
    display: none;
    padding: 20px;
}
.dropdown{
    cursor: pointer;
}
.dropdown .fa{
    color:black;
    margin-left: 5px;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: rgb(245, 245, 245);
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
.nav-fixed{
    position: fixed;
    top: 0;
}
#logo{
    width: 190px;
}
nav .nav-items{
    width: 45vw;
    display: flex;
    justify-content: space-around;
   font-weight:500;
   margin: 0;

   padding: 0;
   align-items: center;
}
#make-request{
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 5px;
}
nav .active{
    padding-bottom: 5px;
    border-bottom: 2px solid black;
}


/* Into hero styling */
.intro-hero{
    background-image: url('../images/audi.jpg');
    height: 90vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.intro-hero .overlay{
    height: 90vh;
    width: 100vw;
    background-color: rgb(27, 27, 27,0.5);
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 20px;

}

/* form styling */
.intro-hero .filter-form{
    height: 60vh;
    min-height: 450px;
    width: 30vw;

    background-color: white;
    border-radius: 20px;
    position: absolute;
    right: 10vw;
    bottom: 10vh;
}
.intro-hero .filter-form h4{
    font-weight: 500;
}
.intro-hero .filter-form h2{
    padding: 20px;
    text-align: center;
    border-bottom: 1px solid rgb(231, 231, 231);
}
.filter-form .form-content{
    padding: 20px;
    width: auto;
}
.filter-form .form-content .label{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.filter-form .form-content #amount{
    font-weight: 300;
}
.filter-form .form-content .label{
    color: black;
    font-weight: 500;
    margin-bottom: 10px;
    margin-top: 20px;
}
.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    border-radius: 5px;
    background: rgb(0, 0, 0);
    outline: none;
    opacity: 1;
    -webkit-transition: 0.2s;
    transition:  0.2s;
}
input[type="range"] {
    -webkit-appearance: none;
    width: 100%;
    height: 7px;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 5px;
    background-color:black;

  }
  
  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background: #ffffff;
    cursor: ew-resize;
    box-shadow: 0 0 4px 0 rgb(31, 31, 31);
    
  }
  
input[type=range]::-webkit-slider-runnable-track  {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
}

.radio-row{
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(230, 230, 230);
}

.radio-row label{
    padding-right: 10px;
}
.filter-form .find-button{
    height: auto;
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    cursor: pointer;
}

.overlay{
    position: relative;
}
.overlay #text{
    position: absolute;
    bottom: 30vh;
    left: 10vw;
    font-size: 60px;
    color: white;
    font-weight: 600;
    padding-left: 30px;
    border-left: 10px solid white;
    display: flex;
    justify-content: baseline;
    align-items: baseline;
}
.overlay .values{
    position: absolute;
    bottom: 20vh;
    left: 10vw;
    font-weight: 300;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    width: 490px;
}
.overlay li{
    color: white;
    list-style: none;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.1);
    border-radius: 3px;
    padding: 5px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(1.9px);
    -webkit-backdrop-filter: blur(1.9px);
    border: 1px solid rgba(255, 255, 255, 0.34);
}

/* process section */
#process{
    height: auto;
   
}
/* Animation on scroll */
.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1s all ease;
  }
  
  .reveal.active{
    transform: translateY(0);
    opacity: 1;
  }
.number{
    background-color: black;
    color: white;
    border-radius: 100%;
    padding: 5px 10px;
    font-size: 15px;
    /* padding-bottom: 1px; */
}
.select-button{
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
    color: white;
    background-color: black;
}
.select-button:hover{
    
    background-color: rgb(15, 15, 15);
    color: white;
    box-shadow: 11px 16px 63px -15px rgba(0,0,0,0.64);
    -webkit-box-shadow: 11px 16px 63px -15px rgba(0,0,0,0.64);
    -moz-box-shadow: 11px 16px 63px -15px rgba(0,0,0,0.64);
}
.process-num{
    color: rgb(0, 0, 0);
    font-weight: 300;
    
}
.process-row{
    margin-top: 100px;
  
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid rgb(240, 240, 240);
    padding-bottom: 150px;
}

.process-left{
    width: 30vw;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 350px;

}
.process-right{
    width: 40vw;
}
.process-right img{
    width: 100%;
}

/* Slideshow container */

#car-splide .splide__slide img{
    object-fit: contain;
    height: 100%;
    width: 100%;
    
}
img {vertical-align: middle; border-radius: 5px;}


  /* Caption text */
  .text {
    color: rgb(255,255,255,0.3);
    font-size: 20px;
   left:10px;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align:left;
  }
  
  /* On smaller screens, decrease text size */
  @media only screen and (max-width: 300px) {
    .prev, .next,.text {font-size: 11px}
  }

.process-right p .fa-map-marker{
    color: black;
}
.button-row{
    display: flex;
    flex-wrap: wrap;
    
}
.button-row .btn {
    display: flex;
    border-radius: 5px;
    margin-right: 20px;
}
.button-row .btn p{
    color: white;
    margin-left: 10px;
}
.button-row .btn i{
    font-size: 25px;
}


/* browse by brands section */

#brands{
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    
}
.brand-slideshow{
    height: 45vh;
    display: flex;
    width: 100vw;
    overflow-x: scroll;
    margin: 0;
    padding: 50px;
    scrollbar-width:none;
    -ms-overflow-style:none;
}
.brand-slideshow::-webkit-scrollbar{
    display: none;
}
.brand-slide{
    width: 35vh;
    height: 35vh;
    border: 1px solid rgb(219, 219, 219);
    border-radius: 10px;
    justify-content: center;
    display: flex;
    align-items: center;
    margin: 0 20px;
    padding: 20px;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.24);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(9.5px);
    -webkit-backdrop-filter: blur(9.5px);
    border: 1px solid rgba(255, 255, 255, 0.34);
    cursor: pointer;
}



.brand-slide .text{
    color: rgb(0, 0, 0);
    font-weight: 600;
    font-size: 15px;
    text-align: center;
    padding: 5px;
    position: absolute;
    bottom: 0;
}

#footer{
    height: 40vh;
    min-height: 320px;
    width: 100%;
    background-color: black;
    padding: 50px 50px 0 50px;
    display: flex;
    justify-content: space-between;
    
}
#footer h3{
    color: white;
    font-weight: 300;
    padding-bottom: 10vh;

}
#footer h5{
    margin-bottom: 2vh;
}
#footer p,h5,.fa{
    color: rgb(192, 192, 192);
    font-weight: 300;
    cursor: pointer;
    transition: 0.5s;
}
#footer h5:hover{
    color: white;
}
#footer p:hover{
    color: white;
}
#footer .column-nav{
    width: 20vw;
    height: 100%;
    padding-bottom: 20px;
    border-right: 1px solid rgb(37, 37, 37);
}
.column-nav #logo{

   width: 90%;
   
}
#footer .column-cars{
    padding: 0 20px;
    border-right: 1px solid rgb(31, 31, 31);
    padding-right: 0; 
}
#footer .car-brands{
    flex-wrap: wrap;
    display: flex; 
}
#footer h3{
    height: 5vh;
   
}
#footer .car-brands p{
    padding-bottom: 10px;
    cursor: pointer;
}
#footer .car-brands>* {
    flex: 0 0 160px;
}

#footer .column-info{
    padding: 0 20px;
  
}
.column-info p{
    padding-bottom: 20px;
    cursor: pointer;
}
.column-info .socials{
    display: flex;
    font-size: 20px;
    border-top:  1px solid rgb(34, 34, 34);
    padding-top: 10px;
   
}
.column-info .socials i{padding-right: 20px;}
#endnote{
    height: 50px;
    background-color: rgb(26, 26, 26);
    padding: 10px;
    text-align: center;
    color: white;
    font-weight: 300;
    font-size: 15px;

}
#endnote span{
    color: white;
}

/* Responsive styling */
@media (max-width: 1200px){
    .process-left{
        width: 40vw;
    }

    .intro-hero .filter-form{
        width: 40vw;
    }
    .overlay #text{
        font-size: 50px;
        height: 200px;
    }
    .overlay .values{
        font-size: 20px;
        width: 380px;
    }
    #footer  p{
        padding-bottom: 5px;
        font-size: 13px;
    }
    #footer .car-brands>* {
        flex: 0 0 130px;
    }
    #footer{
        height: 30vh;

        padding: 20px 20px 0 20px;
        
    }

}


@media (max-width: 1050px){


    nav .nav-items{
        display: none;
    }
    nav .fa-bars{
        display: block;
    }
    .brand-slideshow{
        height: 30vh;
    }
    .brand-slide{
        width: 23vh;
        height: 23vh;
    }
    .overlay #text{
        font-size: 45px;
        height: 200px;
    }
    .overlay .values{
        font-size: 17px;
        width: 360px;
    }
}
    @media (max-width: 900px){
        #footer .column-nav{
            display: none;
        }
        #process{
            display: flex;
          
            justify-content: center;
            flex-direction: column;
        }
        .process-row{
            display: block;
            width: 80vw;
            margin: 0 auto;
            height: auto;
        }
        .process-row .process-left, .process-right{
            width: 100%;
            height: auto;
        }
        .slideshow-container {
            width: 100%;
            position: relative;
            height: auto;
            
          }
        .overlay #text{
            top:20vh;
            font-size: 50px;
            height: 200px;
        }
        .overlay .values{
            top:40vh;
            font-size: 20px;
            width: 380px;
        }
        .intro-hero .filter-form{
            bottom:-10px;
            height: 40vh;
            min-height: 450px;
            left: 10vw;
            width: 80vw;
            overflow: scroll;
        }
   
    }
    
@media (max-width: 800px){
    .intro-hero .filter-form{
        bottom:-10px;
        left:5vw;
        width: 90vw;
    }
    #footer .column-cars{
        overflow: scroll;
    }

}
@media (max-width: 550px){
    .info-nav .info-right{
        display: none;
    }
    .info-left{
        width: 100%;
        
    }
    .info-left p{
        font-size: 10px;
    }
    .overlay #text{
        font-size: 30px;
        height: 120px;
    }
    .overlay .values{
        width: 80vw;
        top:38vh;
        font-size: 15px;
    }
    .intro-hero .filter-form{
        bottom:-10vh;
        left:5vw;
        width: 90vw;
    }
    .filter-form .form-content .label{
        font-size: 14px;
    }
    .filter-form .form-content label{
        font-size: 12px;
    }
    .button-row .btn {
        display: flex;
        padding: 10px;
        border-radius: 5px;
        margin-right: 15px;
        margin-bottom: 5px;
    }
    .button-row .btn p{
        color: white;
        font-size: 12px;
        margin-left: 10px;
    }
    .button-row .btn i{
        font-size: 20px;
    }
    .brand-slideshow img {
        width: 100px;
    }

    .brand-slideshow{
        height: 35vh;
        margin-bottom: 0;
    }
    h1{
        font-size: 30px;
    }
    #process h1{
        margin-top: 100px;
    }
    #footer{
        height: 30vh;
    }
    #endnote{
        font-size: 12px;
    }
    #footer .column-info{
        padding: 0 10px;
      
    }
    .column-info p{
      
        font-size: 12px;
     
    }
    #footer .column-cars{
        width: 90%;
   
        padding: 0;
    }
    .reveal{
        transform: translateY(100px);
        opacity: 0;
        transition: 0.6s all ease;
      }
      

}
@media (max-width: 380px){
    .overlay #text{
        font-size: 25px;
        height: 100px;
    }
    .overlay .values{
        width: 80vw;
        top:38vh;
        font-size: 15px;
    }
    .intro-hero .filter-form{
        bottom:-19vh;
        left:5vw;
        height: 50vh;
        width: 90vw;
    }
    .filter-form .form-content .label{
        font-size: 14px;
    }
    .filter-form .form-content label{
        font-size: 12px;
    }


}
.reveal{

}