
#car{
    padding-top: 150px;
    width: 90vw;
    margin:auto;

}

.car-details{
    display: flex;
    width: 80%;

    
}
#car .car-left{
    
    margin-right: 30px;
}
#car .car-right{
    width: 34vw;

}
#car .car-right .availability{
    color: white;
    padding: 5px;
    border-radius: 5px;
    font-size: 13px;
    background-color: rgb(58, 58, 58);
}
#car .car-right .feature{
    display: flex;
    margin-bottom: 10px;
    padding-bottom: 10px;
    justify-content: space-between;
}
#car .car-right .feature .name{
    color: grey;
}
#car .car-right .feature .value{
    color: rgb(7, 7, 7);
    font-weight: 600;
}

.car-right .price{
    padding: 20px 0px;
   
}
.car-right .price a,.car-right .price i{
    color: rgb(82, 160, 250);
    cursor: pointer;
    margin-bottom: 10px;
}

.car-left .car-images img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
}
.car-left .car-images{
    width: 65vh;
}
.car-left .thumbnail-slide img{
    width: 100%;
    height: 100%;
    border-radius: 2px;
    object-fit: cover;
    
}
.splide__slide {
    opacity: 0.6;
  }
  #thumbnail-carousel{
      width: 65vh;
      margin-top: 20px;
  }
  
  .splide__slide.is-active {
    opacity: 1;
  }
.specifications{
    display: flex;
    justify-content: space-between;
    
}
.specifications .spec{
    padding: 10px;
    width: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    border: 1px solid rgba(209, 209, 209, 0.3);
    transition: 0.3s;
}
.specifications .spec:hover{
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}
.specifications .spec img{
    height: 30px;

}
.specifications .spec p{
    margin-top: 5px;
    font-size: 12px;
    text-align: center;
}

.share .fa-whatsapp{
    color: rgb(27, 185, 27);
    padding-right: 15px;
    font-size: 22px;
}
.share .fa-facebook{
    color: rgb(44, 105, 219);
    padding-right: 15px;
    font-size: 22px;
}
.share .fa-twitter{
    padding-right: 15px;
    color: rgb(104, 153, 245);
    font-size: 25px;
}

.sidebar{
    background-color: white;
    margin-top: 70px;
    height: 100vh;
    width: 20vw;
    position: fixed;
    right:0;
    z-index: 1000;
    transition: 0.5s;
    box-shadow: -8px 2px 45px -34px rgba(0,0,0,0.75);
    -webkit-box-shadow: -8px 2px 45px -34px rgba(0,0,0,0.75);
    -moz-box-shadow: -8px 2px 45px -34px rgba(0,0,0,0.75);
}
.sidebar .header{
    display: flex;
    padding: 20px;
    justify-content: space-between;
    border-bottom: 1px solid rgb(226, 226, 226);
}
.sidebar .specs p, h4{
    padding: 10px;
}
.specs h4{

    background-color: rgb(240, 240, 240);
}
.sidebar .specs li{
    margin-bottom: 10px;
    padding: 10px;
    padding-left:15px;
    list-style-type: square;
}
.sidebar .fa-clear{
    height: 20px;
    cursor: pointer;
}
.sidebar-disabled{
   right: -500px;
    transition: 0.5s
}

.specs .hr{
    padding: 5px 0;
    
}
@media (max-width: 1050px){
    .car-left .car-images img{
        border-radius: 5px;
    }
    .car-left .car-images{
        width: 60vh;
    }
    #thumbnail-carousel{
        width: 60vh;
        margin-top: 30px;
    }
    #car .car-right{
        width: 36vw;
    
    }

}
@media (max-width: 900px){
    .car-details{
        margin:auto
    }
    .car-left .car-images img{
        height: 100%;
        width: 100%;
        border-radius: 5px;
    }
    .car-left .car-images{
        width: 100%;
    }
    #thumbnail-carousel{
        width: 100%;
        margin-top: 30px;
    }
    .car-details{
        display: flex;
        flex-direction: column; 
       
        justify-content: center;
    }.car-left{
        width: 100%;
        
    }
    #car .car-right{
        margin-top: 20px;
        width: 100%;
       margin-bottom: 50px;
    
    }
    .sidebar{
        width: 50vw;
        height: 100%;
    
    }
}
@media (max-width: 550px){
    .car-left .thumbnail-slide img{
        border-radius: 1px;
        
    }

    .car-details{
        width: 100%;
    }
    .sidebar{
        width: 65vw;
        border-radius: 2px;
    }

    .sidebar-disabled{
        right: -500px;
         transition: 0.5s
     }
     .specifications .spec{
        padding: 5px;
        width: 80px;
        border-radius: 7px;
    }
    .specifications .spec p{
        font-size: 11px;
       
    }
}

