
  .intro-hero{
    background-image: url('images/mercedes-port.png');
    height: 60vh;
    position: relative;

}
.intro-hero .overlay{
    height: 60vh;
    width: 100vw;
  
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: fixed;

}

.intro-hero form{
    height: 25vh;
    width: 80vw;
    right: 0;
    position: absolute;
    bottom: -12.4vh;
    left: 10vw;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    box-shadow: -2px 6px 56px -24px rgba(0,0,0,0.75);
    -webkit-box-shadow: -2px 6px 56px -24px rgba(0,0,0,0.75);
    -moz-box-shadow: -2px 6px 56px -24px rgba(0,0,0,0.75);
}
.overlay #text{
    bottom: 30vh;
    font-size: 40px;
}
.intro-hero form h2{
    position:absolute;
    padding-top: 20px;
    padding-left: 20px;
    text-align: left;
    font-size: 30px;
}

.intro-hero form select{
    border-radius: 5px;
    border: 2px solid grey;
    padding: 10px;
    width: 230px;
   
}
.intro-hero form select:focus{
    border: none;
}
.intro-hero form .form-content{
   
display: flex;
justify-content: space-between;
}
.form-content .form-section{
    margin-top: 80px;
    width: 250px;
    padding-left: 20px;
}
.form-content .price, .form-content .year{
    width: 400px;
    padding: 0 10px;
}
.range-values{
    margin-top: 8px;
    display: flex;
    justify-content: space-between;

}
.range-values p{
    font-size: 15px;
}
.form-content .buttons{
    height: 25vh;
    width: 100px;
}
.form-content .buttons .filter-btn{
    background-color: black;
    color: white;
    height: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-weight: 600;
    border-bottom-right-radius:20px ;
    cursor: pointer;
}
.form-content .buttons .reset-btn{
    background-color: rgb(184, 184, 184);
    color: rgb(250, 250, 250);
    border-top-right-radius: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-weight: 600;
    height: 50%;
    cursor: pointer;
}
#cars{
    margin: 0px 10vw;
    margin-top: 150px;

    
}
.cars-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}
.car-tile{
    width: 350px;
   border: 1px solid rgb(212, 212, 212);
    border-radius: 10px;
    margin-bottom: 20px;
    cursor: pointer;
}
.car-tile .tile-content{
    padding: 20px;
}
.car-tile .tile-content .year{
    background-color: rgb(241, 241, 241);
    border-radius: 5px;
    padding: 3px;
}
.car-tile .tile-image img{
    width: 349px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    
}
.car-tile .features{
    display: flex;
    padding: 10px 0;
    justify-content: space-between;
}
.car-tile .features .feature img{

    width: 30px;
}
.car-tile .features .feature{
    
   text-align: center; 
}
.car-tile .features .feature p{
    margin-top: 5px;
    font-size: 15px;
    color: rgb(71, 71, 71);
}
.car-tile .price{
    border-radius: 5px;
    background-color: black;
    color: white;
    padding: 10px;
    font-weight: 600;
}