#car{
    height: 100vh;
    padding-top: 150px;
}

#car{
margin: 0 10vw;

}
.car-details{
    display: flex;
    
}
#car .car-left{
    margin-right: 30px;
}
#car .car-right{
    width: 30%;

}
#car .car-right .availability{
    color: white;
    padding: 5px;
    border-radius: 5px;
    font-size: 13px;
    background-color: rgb(46, 66, 46);
}
#car .car-right .feature{
    display: flex;
    margin-bottom: 10px;
    padding-bottom: 10px;
    justify-content: space-between;
}
#car .car-right .feature .name{
    color: grey;
}
#car .car-right .feature .value{
    color: rgb(7, 7, 7);
    font-weight: 600;
}

img {vertical-align: middle; border-radius: 5px;}
.slideshow-container {
    width: 70vh;
    position: relative;
  
  }

.car-right .price{
    padding: 20px 0px;
    font-weight: 600;
    font-size: 25px;
    border-top: 1px solid rgb(241, 241, 241);
    border-bottom: 1px solid rgb(241, 241, 241);
}
.car-left .car-images {
    height: 60vh;
    width: 70vh;
    border-radius: 10px;
}